.featured{
    position: relative;
    @media only screen and (max-width: 768px) {
        height: 350px;
    } 
    .poster{
        width:100%;
        height:700px;
        object-fit: cover;
        opacity: 0.7;
        @media only screen and (max-width: 768px) {
            height: 100%;
        }    
    }
    .info{
        width: 40%;
        position: absolute;
        left: 50px;
        bottom: 100px;
        color: white;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        @media only screen and (max-width: 840px) {
            bottom: 30px;
            left:20px;
        }
            img{
                border-radius: 10px;
                width: 35%;
                @media only screen and (max-width: 768px) {
                    display: none;
                } 
            }
            .title{
                margin-top: 5px;
                font-size: 30px;
                font-weight: 600;
                @media only screen and (max-width: 768px) {
                    font-size: 14px;
                } 
            }
            .description{
                margin-top: 5px;
                @media only screen and (max-width: 1260px) {
                    font-size: 14px;
                }
                @media only screen and (max-width: 840px) {
                    display: none;
                }
            }
            .info2{
                margin-top: 5px;
                display: flex;
                flex-direction: row;
                .date{
                    background-color: var(--secondary-color);
                    display: flex;
                    padding: 4px;
                    margin-right: 5px;
                    border-radius: 7px;
                }
                @media only screen and (max-width: 768px) {
                    font-size: 14px;
                } 
            }
            .watchNow{
                margin-top: 5px;
                display: flex;
                flex-direction: row;
                align-items: center;
                
                .buttonWatch{
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    background-color: var(--secondary-color);
                    display: flex;
                    padding: 10px;
                    border-radius: 7px;
                }
            }

            .buttons{
                display: flex;
                width:300px;
                margin-top: 5px;
                @media only screen and (max-width: 840px) {
                    width: 10px;
                    font-size: 10px;
                }
                .button{
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    padding: 5px;
                    text-decoration: inherit;
                    color: white;
                    background-color: var(--secondary-color);
                    border-radius: 5px;
                    font-weight: 500;
                    font-size: 20px;
                    width: 150px;
                    border: none;
                    cursor: pointer;
                    &:hover{
                        width: 160px;
                        height:40px;
                        font-size: 22px;
                    }
                    @media only screen and (max-width: 768px) {
                        width: 70px;
                    }
                    .playArrow{
                        @media only screen and (max-width: 768px) {
                            width: 20px;
                        } 
                    }
                    span{
                        @media only screen and (max-width: 768px) {
                            display: none;
                        } 
                    }
                }
            }

    }
}