.mainDivProfile{
    height: 200vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    @media(max-width:768px) {
      height: auto;
    }
    .searchMovies{
        margin-top: 60px;
        height: auto;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        .moviesName{
          width: 300px;
            text-align: center;
            height: auto;
            color: white;
            background-color: var(--secondary-color);
            font-size: 25px;
            margin: 5px 400px;
            border-radius: 5px;
        }
        .cardMovies{
            margin: 10px 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            justify-content: flex-start;
            @media(max-width:768px) {
              flex-direction: column;
            }
            .imageFavorites{
              cursor: pointer;
            img{

                width: 185px;
                border-radius: 5px;
                margin: 10px
            }
            div{
              margin-left: 87px;
              color: white;
              cursor: pointer;
            }
            }
        }
    }
    .centerItem {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
        margin-top: 15px;
        @media(max-width:768px) {
          flex-direction: column;
        }
      form {
        width: 400px;
        height: auto;
        box-shadow: 1px 0 10px 15px rgba(0, 0, 0, .3);
        padding: 40px;
        background-color: #fff;
        border-radius: 5px;
        background-color: var(--secondary-color);
        @media(max-width:768px) {
          width: 300px;
        }
        p{
            font-size:20px ;
        }
        span{
            color: white;
            text-align: center;
        }
        input {
          width: 100%;
          box-sizing: border-box;
          margin-top: 20px;
          outline: none;
          border: none;
          background-color: #ecf0f1;
          padding: 10px;
          line-height: 2;
          font-size: 20px;
          border-radius: 5px;
        }
    
        button {
          background-color: #4834d4;
          color: white;
          background-color: var(--main-color);
          font-size: 20px;
          width: 100%;
          outline: none;
          border: none;
          padding: 15px;
          margin-top: 20px;
          cursor: pointer;
          border-radius: 5px;
          margin-bottom: 5px;
    
          &:hover {
            background-color: #262627;
          }
    
        }
    
        p {
          text-align: center;
          margin-bottom: 0px;
    
          .linkLogged {
            text-align: center;
            text-decoration: underline var(--main-color);
            color: var(--main-color);
            margin-left: 5px;
            &:hover {
              text-decoration: underline red;
              color: red;
              font-size: 16px;
            }
          }
        }
      }
    }
    
    @media(max-width:692px) {
      .center-item {
        form {
          width: 60%;
        }
      }
    }
    
    @media(max-width:452px) {
      .center-item {
        form {
          width: 70%;
          padding: 25px;
    
          p {
            font-size: 14px;
          }
        }
      }
    }
}
.divInfoUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    width: 350px;
    height: auto;
    box-shadow: 1px 0 10px 15px rgba(0, 0, 0, .3);
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    background-color: var(--secondary-color);
    margin-bottom: 50px;
    @media(max-width:768px) {
      margin-top: 20px;
      width: 300px;
    }
    div{
        background-color: var(--main-color);
        border-radius: 5px;
        font-size: 20px;
        padding: 10px;
        margin-top: 20px;
        color: white;
        width: 280px;
    }
    button{
      color: white;
      background-color: var(--main-color);
      font-size: 20px;
      width: 100%;
      outline: none;
      border: none;
      padding: 10px;
      margin-top: 20px;
      cursor: pointer;
      border-radius: 5px;
      margin-bottom: 5px;
      &:hover{
        color: red;
      }
    }
}