.mainCard{
    height: 1200px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    .infoCard{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        margin-top: 60px;
        @media(max-width:768px) {
            flex-direction: column;
          }
        .image{
            padding: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            height: auto;
            img{
                border-radius: 5px;
                width: 218px;
                height: 328px;
            }
        }
        .info{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px 50px 10px 50px;
            width: 50%;
            color: white;
            font-size: 20px;
            @media(max-width:768px) {
                font-size: 12px;
                width: 350px;
              }
            span{
                padding: 10px;
                width: 400px;
                word-break: break-all;
                @media(max-width:768px) {
                    font-size: 14px;
                    width: 350px;
                  }
            }
            .info2{
                margin-top: 5px;
                display: flex;
                flex-direction: row;
                @media(max-width:768px) {
                    flex-direction: column;
                  }
                .date{
                    background-color: var(--secondary-color);
                    display: flex;
                    align-items: center;
                    padding: 4px;
                    margin-right: 5px;
                    border-radius: 7px;
                    @media(max-width:768px) {
                        margin-top: 5px;
                      }
                }
                div{
                    display: flex;
                    align-items: center; 
                }
            }

        }
    }
    .trailer{
        display: flex;
        height: 50%;
        padding: 60px 60px;
    }

}