.listItem { 
    background-color: var(--main-color);
    margin-right: 5px;
    overflow: hidden;
    cursor: pointer;
    color: white;
    display:flex;
    border-radius: 8px;
      width: 218px;
      height: 328px;
      img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      width: 342px;
      height: 328px;
      border-radius: 8px;
  
      .imgCard {
        display: none;
      }
      .itemInfo {
        display: flex;
        flex-direction: column;
        .divHoverImg{
          display: flex;
          .hoverImg{
          border-radius: 8px;
          height: 200px;
          width: auto;
        }
        }
        .itemInfoTop {
          display: flex;
          width: 350px;
          height: 200px;
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-content: center;
          overflow: hidden;
          padding: 10px;
          font-size: 12px;
          font-weight: 600;
          color: gray;
          word-break:break-all;
          .divInfo{
            display: flex;
            padding: 0, 50px;
          .limit {
            border: 1px solid gray;
            padding: 1px 3px;
            margin: 0 10px;
          }
          .genre{
            margin-left: 10px;
          }
          }
        }
  
        .desc {
          font-size: 13px;
          margin-bottom: 10px;
        }
  
        .genreAndFav {
          display: flex;
          font-size: 14px;
          color: lightgray;
          text-align: center;
          align-items: center;
          align-content: center;
          flex-direction: row;
          justify-content: space-around;
          .genre{
            display: flex;
            margin-left: 20px;
          }
          .button{
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            padding: 5px;
            text-decoration: inherit;
            color: white;
            background-color: var(--secondary-color);
            border-radius: 5px;
            font-weight: 500;
            font-size: 13px;
            width: 100px;
            cursor: pointer;
            &:hover{
              width: 120px;
              height: 40px;
            }
            @media only screen and (max-width: 768px) {
                width: 70px;
                margin-top: 10px;
            }
            .playArrow{
                @media only screen and (max-width: 768px) {
                    width: 20px;
                } 
            }
            span{
                @media only screen and (max-width: 768px) {
                    display: none;
                } 
                
            }
        }
        }
      }
    }
  }