.navbar {
    width: 100%;
    color: white;
    font-size: 20px;
    position: fixed;
    top: 0;
    padding: 5px;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 20%);
    &.scrolled {
        background-color: var(--main-color);
        opacity: 0.7;
    }
    @media only screen and (max-width: 768px) {
        font-size: 14px;
    }
    .container {
        padding: 0px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        @media only screen and (max-width: 768px) {
            padding: 2px;
            height: 50px;
        }
        .left {
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        .center{
            display: flex;
            width: 33%;
            justify-content: center;
            form{
                display: flex;
                align-items: center;
            .searchInput{
                width: 300px;
                height: 30px;
                border: none;
                outline: none;
                border-radius: 5px;
                color:var(--main-color);
                background-color: white;
                opacity: 0.7;
                font-size: 20px;
                font-weight: 500;
                @media only screen and (max-width: 768px) {
                    font-size: 14px;
                    width:120px;
                    margin-left: 5px;
                }
            }
            .searchButton{
                background: none;
                color: white;
                border: none;
                padding: 0;
                cursor: pointer;
            } 
            }
        }
        .right {
            width: 33%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media only screen and (max-width: 948px) {
                width: 160px;
                justify-content: center;
            }
            .links {
                text-decoration: inherit;
                color: inherit;
                span {
                    &:hover {
                        color: var(--secondary-color);
                    }
                }
            }
            .userName{
                margin-left: 20px;
                font-size: 25px;
                font-weight: 700;
                color: var(--secondary-color);
            }
            .icon {
                margin-left: 52px;
                width: 40px;
                height: 40px;
                @media only screen and (max-width: 948px) {
                    margin-left: 20px;
                    width: 30px;
                    height: 30px;
                }    
            }
            .xl {
                margin-left: 30px;
                @media only screen and (max-width: 948px) {
                    display: none;
                }
            }
            .m {
                margin-left: 30px;
                @media only screen and (min-width: 948px) {
                    display: none;
                }
            }
            .profile {
                cursor: pointer;
                display: flex;
                @media only screen and (max-width: 948px) {
                display: none;
                }
                .options {
                    display: none;
                    border-radius: 5px;
                    background-color: var(--main-color);
                    margin-right: 10px;
                    @media only screen and (max-width: 948px) {
                        display: none;
                    }
                }
                span {
                    padding: 8px;
                    @media only screen and (max-width: 948px) {
                        padding: 0px;
                    }
                }
                &:hover {
                    .options {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        align-items: center;
                        margin-top: 40px;
                        margin-right: 5px;
                        padding-right: 5px;
                        width: 150px;
                        word-break:break-all;
                        .linksProfile {
                            padding: 10px;
                            text-decoration: inherit;
                            color: inherit;
                            background: none;
                            color: white;
                            border: none;
                            cursor: pointer;
                            font-size: 20px;
                            span {
                                &:hover {
                                    color: var(--secondary-color);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
